{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
<main class="container-fluid anhnen" style="background-image: url('{% static "home/image/anhnen.jpg" %}'); color: white; display: flex; flex-direction: column; align-items: center;">
    <a style="width: 90vw; margin-top: -4rem; margin-bottom: 4rem;" href=""><img src="./hinhanh/motchill.png" alt=""></a>
    <div class="container-login" style="color: white;">
        <div class="login">
            <h2 style="font-size: 2rem; opacity: 1 ;font-weight: 700; margin-top: 4rem;">ĐĂNG KÝ</h2>
          <form action="/register" method="POST">
  {% csrf_token %}

  <div class="mb-5 mt-5">
    <input type="email" name="email" class="form-control text-box" id="email" placeholder="Nhập email" required>
  </div>

  <div class="mb-5">
    <input type="password" name="password" class="form-control text-box" id="password" placeholder="Nhập mật khẩu" required>
  </div>

  <div class="mb-4">
    <input type="password" name="repassword" class="form-control text-box" id="repassword" placeholder="Xác nhận mật khẩu" required>
  </div>
         {% if messages %}
          <ul>
           {% for msg in messages %}
          <li style="color:red;font-weight:500">{{ msg }}</li>
           {% endfor %}
          </ul>
          {% endif %}
  <button type="submit" class="btn btn-primary w-100 btn-login"
          style="font-size: 1.3rem; background-color: rgb(229, 9, 20); font-weight: 600; height: 3.5rem; border: none;">
    Đăng ký
  </button>
</form>


          <div style="margin-top: 2rem;">Nếu bạn đã có tài khoản ? <a href="/loginpage">Đăng nhập ngay</a></div>
        </div>
    </div>
</main>
<footer>
  <div class="container-footer">
    <div>
      <div class="footer-box">
        <div>Motchill About</div>
        <div>Giới thiệu</div>
        <div>FAQ</div>
      </div>
      <div class="footer-box">
        <div>Trợ giúp</div>
        <div>Liên hệ</div>
        <div>Điều khoản sử dụng</div>
        <div>Chính sách bảo mật</div>
      </div>
      <div class="footer-box">
        <div>Sitemap</div>
        <div>Sitemap Motchill</div>
        <div>RSS Feed Phim Mới</div>
      </div>
      <div class="footer-box">
        <div>Kết nối</div>
        <div>
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
    </div>
    <div>Xem phim mới miễn phí chất lượng cao - với hơn 10.000+ bộ phim đầy đủ thể loại và nội dung phong phú, đặc sắc và hấp dẫn, được cập nhật nhanh chóng. Mọt Chill mang lại giao diện thân thiện, tốc độ tải nhanh, trải nghiệm tốt nhất cho người dùng.</div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
 <script>
   $(document).ready(function(){
  $('.multi-item-carousel').slick({
    dots: true,
    infinite: true,
    speed: 500,
    slidesToShow: 3,
    slidesToScroll: 1,
    arrows: true,
    autoplay: true,
    autoplaySpeed: 2000,
    variableWidth: true,
    responsive: [
      { breakpoint: 1024, settings: { slidesToShow: 2 } },
      { breakpoint: 600,  settings: { slidesToShow: 1 } }
    ]
  });
});
</script>
</html>
</body>