{% extends "admin_base.html" %}
{% block title %}Thông tin{% endblock %}
{% block content %}
<div class="container py-4">
      <h2>🔑 Đổi mật khẩu</h2>
      <form class="card p-4 shadow-sm bg-white">
        <div class="mb-3">
          <label class="form-label">Mật khẩu cũ</label>
          <input type="password" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Mật khẩu mới</label>
          <input type="password" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Xác nhận mật khẩu mới</label>
          <input type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">
          <i class="fa-solid fa-key"></i> Đổi mật khẩu
        </button>
      </form>
    </div>
{% endblock %}